{% load static %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sentry Django Demo</title>
  <meta name="description" content="Sentry Django Hello World">
  <meta name="author" content="Sentry.io">

  <link rel="icon" type="image/png" href="{% static 'myapp/favicon.ico' %}" />

  <link href="https://fonts.googleapis.com/css?family=Lora|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'myapp/style.css' %}?v=1.0">
</head>

<body>
  {% block content %}
  {% endblock %}

</body>
</html>
