{% extends 'myapp/base.html' %}

{% block content %}

<script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
<script>Raven.config('https://53e15e97911f4cee96b05b5e5d72ca56@sentry.io/297017').install()</script>

<div class="App">
        <br><br>
    <div class="App-header">
        <img src="static/sentry-glyph-black.png" alt="logo" class="App-logo">
        <h1>Sentry.io -  Sample Error Page</h1>
    </div>
    <br>

    <div class="center form-group">
        <form action="/" method="get" class="form-group">
            <!--{% csrf_token %}-->
            <input id="email" type="email" name="email" class="form-control" placeholder="Enter email">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <h2>Hi, {{email}}.</h2>

    <ul class="center list-group">
        <li class="list-group-item list-group-item-danger">
                <h3>Python Errors</h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/undefined_variable/?email={{ email}}">Undefined Variable</a></h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/index_error/?email={{ email}}">Index Error</a></h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/type_error/?email={{ email}}">Type Error</a></h3>
        </li>
        <li class="list-group-item">
                <h3><a href="/wrong_num_args/?email={{ email }}">Wrong Number Of Arguments</a></h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/div_zero/?email={{ email}}">Divide By 0</a></h3>
        </li>
    </ul>

    <ul class="center list-group">
        <li class="list-group-item list-group-item-danger">
                <h3>JavaScript Errors</h3>
        </li>

        <li class="list-group-item">
                <h3><a onclick="(function() { var x = {}; x.something(); })()">Uncaught TypeError</a></h3>
        </li>

    </ul>
</div>
{% endblock %}
