{% extends 'myapp/base.html' %}

{% block content %}



<div class="App">
        <br><br>
    <div class="App-header">
        <img src="static/sentry-glyph-black.png" alt="logo" class="App-logo">
        <h1>Sentry.io -  Sample Error Page</h1>
    </div>
    <br>

    {% if user.is_authenticated %}
        <h2>Hi, {{user.username}}.</h2>
        <script>Raven.setUserContext({ 'user': '{{ user.username }}' });</script>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}

    <ul class="center list-group">
        <li class="list-group-item list-group-item-danger">
                <h3>Python Errors</h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/undefined_variable">Undefined Variable</a></h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/index_error">Index Error</a></h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/type_error">Type Error</a></h3>
        </li>
        <li class="list-group-item">
                <h3><a href="/wrong_num_args">Wrong Number Of Arguments</a></h3>
        </li>

        <li class="list-group-item">
                <h3><a href="/div_zero">Divide By 0</a></h3>
        </li>
    </ul>

    <ul class="center list-group">
        <li class="list-group-item list-group-item-danger">
                <h3>JavaScript Errors</h3>
        </li>

        <li class="list-group-item">
                <h3><a onclick="(function() { var x = {}; x.something(); })()">Uncaught TypeError</a></h3>
        </li>

    </ul>
</div>
{% endblock %}
